//variable
$im : !important;
//font logo
@mixin font-logo($font_size,$font_padding){
	color      : #E11D1D; 
	font-family: 'Lobster',cursive;
	font-size  : $font_size; 
	padding    : $font_padding;
	font-weight: normal; 
	text-align : center; 
	text-shadow: -2px 2px 0px #EF1B1B,
                 -3px 3px 0px #E64545,
                 -4px 4px 0px #B31919;
}
//fixed catogery
@mixin fixed-catogery($top,$left){
	background: #E11D1D; 
	position: fixed;
	top:$top;
	left:$left;
	width: 100%;
	z-index: 1;
	i{
		color: white $im;
	}
}
//show cart
@mixin cart-popup($width,$height){
	height: $height;
	.header-cart{
		width: $width;
		height: $height;
	}
}
//display cart when display lower 1000px
@media screen and (max-width: 1000px){
	.food-image a{
		position   : absolute;
		bottom     : 20px;
		right      : 4px;
		display    : block;
		font-size  : 0.7em;
		padding-top: 7px $im;
	}
	.food-item{
		padding-right: 8px;
		padding-left : 8px;
	}
	.wrap-header-mobile{
		height: 45px;
	}
	//custom food detail
	#food-detail{
		margin-top: 50px;
	}
	.total-money{
		font-size: 15px $im;
	}
	.text-search,.text-filter{
		display:none $im;
	}
	.js-show-filter,.js-show-search{
		text-align: center;
		width: 40px;
		height: 30px;
	}
	.content{
		margin-top: 0px $im;
	}
	.menu-type{
		button i{
			color:red;
		}
		.panel-filter{
			top: 30px $im;
		}
	}
	//show menu catogery and hide catogery desktop when lower 1000px
	.catogery{
		display: block $im;
	}
	.menu-group-desktop{
		display: none;
	}
	.search-food input{
		text-align:center;
		padding-right: 5px;
	}
	.search-food input:focus{
		text-align:left;
		text-indent:15px;
	}
	.search-food{
		position: relative;
		.clear-textbox{
			color: #ADAAAA $im;
			cursor: pointer;
			position: absolute;
			right: -7px;
			width: 30px;
			top: 3px;
			z-index: 2;
			font-size: 20px;
		}
	}
	.fixed-catogery{
		@include fixed-catogery(0,0);
		.search-food{
			margin-left: 0px;
		}
	}
	.panel-search{
		display: none $im;
	}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.logo-mobile a{
		@include font-logo(6vw,0px);
	}
	//custom image of modal popup show detail food
	.wrap-pic-w{
		img{
			height    : 200px;
			min-height: 200px;
			min-width : 100%;
		}
	}
	#food-detail{
		width: 100%;
	}
	//custom cart 
	.header-cart {
		padding: 10px;
	}
	.total-item-money{
		display: none $im;
	}
	//custom text of food in cart
	.header-cart-item-name{
		white-space: normal $im; 
	}
	.header-cart-title{
		height: 40px $im;
	}
	.left{
		width: 60% $im;
		textarea{
			height: 50px;
		}
	}
	.right{
		width: 40% $im;
	}
	.filter .js-show-filter{
		width: 37px $im ;
	}
	.js-show-search{
		display: none;
	}
	.search-food{
		margin-left: 20px;
	}
	.filter-search{
		margin-top: 5px;
		justify-content: center;
	}
	.select-table{
		display: inline;
		padding-left: 5px;
		.select2-container{
			width: 65% $im;
		}
	}
	.left{
		border-right: none $im;
	}
	.cart .cart-items.has-alert{
		.header-cart-wrapitem{
			height: calc(100% - 60px) $im;
		}
		.alert-change{
			height: 60px $im;
			padding: 0.25em $im;
		}
	}
	.cart .cart-items{
		height: calc(100% - 120px) $im;
	}
	.cart-total{
		height: 120px $im;
	}
	.right{
		padding-top:10px;
	}
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.logo-mobile a{
		@include font-logo(2em,0px);
	}
	//custom image of modal popup show detail food
	.wrap-pic-w{
		img{
			height    : 300px;
			min-height: 300px;
			min-width : 100%;
		}
	}
	//show delete food from cart
	.delete-food-cart-mobile{
		display: none $im;
	}
	//hide button search
	.js-show-search{
		display: none;
	}
	.filter-search{
		margin-top: 5px;
		justify-content: center;
	}
	.select-table{
		display: inline;
		padding-left: 5px;
	}
	.cart .cart-items{
		height: calc(100% - 125px) $im;
	}
	.cart-total{
		height: 125px $im;
	}
	.left{
		border-right: 0px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.logo-mobile{
		height: 50px $im;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.logo-mobile a{
		@include font-logo(2.5em,0px);
	}
	//custom food detail
	#food-detail{
		margin-top: 90px;
	}
	//Hide search input
	.search-food{
		display: none $im;
	}
	//show search button
	.js-show-search{
		margin-left: 5px;
		display: block $im;
	}
	.menu-type .filter{
		justify-content: center;
	}
	.select-table{
		display: block $im;
	}
	.left{
		border-right:3px solid #ccc;
	}
	.cart .cart-items{
		height: calc(100% - 96px) $im;
	}
	.cart-total{
		height: 96px $im;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	//custom food detail
	#food-detail{
		margin-top: 100px;
	}
}
//custom logo desktop and mobile
.logo{
	@include font-logo(40px,10px 10px);
}
.logo-mobile{
	display: flex $im;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
.logo:hover,.logo-mobile:hover{
	color: #EC8888;
}
.wrap-menu-desktop,.wrap-header-mobile{
	top:-8px !important;
	background: #e6e6e6;
}
.fix-menu-desktop .wrap-menu-desktop{
	top: 0px !important;
}
//custom image
.food-image{
	img{
		min-height: 170px;
		height    : 170px;
		width     : 100%;
		cursor    : pointer;
	}
	a{
		padding-top: 1%;
		text-align : center;
		width      :  90%;
		height     : 30px;
	}
	a:hover{
		border-color    : #222;
		background-color: #ddd;
		color           : black;
		font-weight     : bold;
	}
	i.cart-desktop{
		padding-right: 5px;
	}
}
.block2{
	border       : 1px solid #e1e1e1;
	border-radius: 5px;
	box-shadow   : 0 2px 2px 0 rgba(0,0,0,.2), 0 4px 15px 0 rgba(0,0,0,.19);
}
.food-content{
	div{
		text-align  : center;
		margin-right: auto;
		margin-left : auto;
		align-items : center;
	}
	a{
		width        : 100%;
		overflow     : hidden;
		white-space  : nowrap;
		text-overflow: ellipsis; 
	}
}
.food-item{
	padding-top: 12px;
}
.menu-group{
	a.dropdown-item:hover{
		background-color: #D1D1D1;
	}
}
.more{
	.dropdown-toggle{
		cursor:pointer;
	}
}
//custom cart item
.cart{
	.header-cart {
		max-width: 100%;
	}
	.wrap-num-product{
		height: 35px;
		width: auto;
		border: none;
		.btn-num-product-down,.btn-num-product-up,input.num-product{
			width: 30px;
			height: 80%;
		}
		div,input{
			display: inline;
		}
	}
	.header-cart-item{
		img{
			height: 80px;
		}
	}
	.header-cart{
		height: 100%;
	}
	.header-cart-content{
		flex-grow: 0;
		height: 92%;
	}
	.cart-items.has-alert{
		.header-cart-wrapitem{
			height: calc(100% - 60px);
			overflow-y: scroll;
			flex-grow: 0;
		}
		.alert-change{
			height: 60px;
		}
	}
	.cart-items{
		width: 100%;
		height: 89%;
		.header-cart-wrapitem{
			height: 100%;
			overflow-y: scroll;
			flex-grow: 0;
		}
	}
	.header-cart-item-info{
		display     : inline;
		padding-top : 6px;
		padding-left: 10px;
	}
	.total-item-money{
		display     : inline;
		float: right; 
		padding-top : 6px;
	}
	.header-cart-item-name{
		width: 100%;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.header-cart-item-name:hover{
		cursor: pointer;
	}
	.cart-total{
		[class*="col-"]{
			padding-right: 0px;
			padding-left: 0px;
		}
		border-top:3px solid #ccc;	
		.header-cart-buttons{
			a{
				margin-left: auto;
				margin-right: auto;
			}
		}
		.header-cart-total{
			text-align: right;
		}
	}
}
.delete-food-cart{
	float: right;
}
//custom scrollbar when cart open
body.show-header-cart{
	overflow: hidden;
}
.description-food{
	font-weight: 600;
	color: green;
	cursor: pointer;
}
//progress bar
.progress{
	border-radius: 20px;
}
.header-cart-title{
	height: 60px;
	width: 100%;
	border-bottom: 3px solid #ccc;
}
.total-money{
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.note{
	color: green;
}
.btn-order{
	cursor: pointer;
}
.content{
	margin-top: 75px;
}
.menu-type{
	align-items: center;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom: 1px solid #CFCECE;
	.catogerty{
		height: 30px;
	}
	.wrap-filter{
		display: flex;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;
		label{
			display: inline;
		}
		padding-bottom: 10px;
		.filter-search{
			display: flex;
			align-items: flex-end;
		}
		.form-control{
			padding: 4px;
			height: 30px $im;
		}
	}
}
.catogery{
	position: relative;
	display: none;
	width: 20px;
}
#dl-menu{
	z-index: 1;	
	button i{
		font-size: 25px;
		margin-top: 2px;
		padding-left: 5px;
	}
}
.dl-menuwrapper .dl-menu{
	width: 200px;
}
.dl-menu{
	margin-top: 4px;
	left:-5px;
}
.menu-type{
	.filter{
		justify-content: flex-end;
	}
	input.form-control{
		border-radius: 20px;
		padding: 3px 2rem 3px 3px;
	}
}
//custom filter panel
.menu-type{
	z-index: 1;
	.panel-filter{
		position: absolute;
		z-index: 1;
		width: 100%;
		right: 0px;
		top: 40px;
	}
}
.container{
}
.load-more .infinite-scroll-request{
	img{
		width: 100px;
		height: 100px;
		max-height: 100px;
	}
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-table{
	.select2-container{
		width: 64% $im;
		text-align-last: center;
	}
	label{
		width: 30%;
		display: inline;
	}
	select{
		text-align-last: center;
		display: inline;
		width: 70%;
	}
}
.disabled{
	cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.disabled:hover{
	background: none $im;
	color:black;
}