//==============================
.header-cashier{
	background-color:#0072BC;
	height:50px;
	width:100%;
	.navbar-brand{
		color:white;
	}
}

//==============================
.content-cashier{
	background-color: white;
	min-height: calc(100vh - 330px);
	max-height: calc(100vh - 330px);
	width:100%;
	overflow:auto;
}

//==============================
.footer-cashier{
	background-color: #e7ebee;
	height: 280px;
	width:100%;
	bottom:0px;
	position:fixed;
	.payment-detail{
		width: 100%;
	}
	.text-left{
		text-align: left;
	}
	.text-right{
		text-align:right;
	}
	.colume1{
		width: 200px;
	}
	.colume3{
		width: 100px;
	}
	.colume4{
		width: 200px;
	}
}