//global===================


//Quang
//================================================
.wraper-left{
	background-color:orange;
	height:500px;
}

//Son
////================================================
.wraper-right{
	background-color:black;
	height:500px;
	padding:0px;
	.header-right{
		width:100%;
		height:45px;
		background-color:grey;
		
	}
	.content-right{
		background-color:white;
		overflow-y:scroll;
		overflow-x:hidden;
		min-height: calc(100vh - 150px);
    	max-height: calc(100vh - 150px);
	}
	.footer-right{
		bottom:10px;
		background-color:grey;
		height: 100px;
	}
}