.nopad {
  padding: 0px; }

.wraper-right {
  background-color: white;
  border-right: 2px solid grey; }
  .wraper-right .header-right {
    width: 100%;
    background-color: #4bac4d; }
    .wraper-right .header-right .location-order {
      padding-top: 4px; }
  .wraper-right .content-right {
    width: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 5px;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px); }
    .wraper-right .content-right .image-order {
      margin-top: 10px; }
    .wraper-right .content-right .table > tbody > tr > td {
      vertical-align: middle; }
    .wraper-right .content-right .note-order {
      font-style: italic;
      opacity: 0.8;
      margin-top: 5px;
      font-size: 13px; }
    .wraper-right .content-right .total-order {
      float: right; }
  .wraper-right .footer-right {
    bottom: 10px;
    background-color: white;
    border-top: 1px solid #0090da;
    height: 100px;
    margin-right: 15px;
    padding-top: 5px; }
    .wraper-right .footer-right .dropdown-menu .line {
      border: solid 0.5px grey;
      opacity: 0.5;
      width: 100%; }
    .wraper-right .footer-right .send-order {
      width: 100%; }
    .wraper-right .footer-right .send-order button {
      width: 100%;
      margin: 0px 5px 0px 0px; }

.my-flex-container {
  /*border: 2px solid green;*/
  /*height: 100px;*/
  margin-bottom: 20px; }

.my-flex-container-column {
  border: 2px solid green;
  /*height: 200px;*/
  margin-bottom: 20px; }

.my-flex-item {
  /*background-color: lightgrey;*/
  /*border: 1px dotted grey;*/
  margin: 10px;
  height: 400px;
  overflow: auto; }

.room {
  background-color: white; }

.my-flex-item-2 {
  background-color: lightgrey;
  border: 1px dotted grey;
  /*height: 96px;*/ }

.btn-room, .img-food, .btn-cat {
  margin: 10px; }

.btn-room {
  width: 100px;
  height: 50px; }

.category, .room {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }

.nav-tabs > li > a {
  color: #fff; }

.nav-tabs > li > a:hover {
  color: #555; }

/* .nav-tabs>li.active>a {
	color: #ecebde;
	background-color: #c9302c;
} */
.padding-0 {
  padding-right: 0;
  padding-right: 0; }

.wraper-left {
  height: 500px;
  padding: 0px; }
  .wraper-left .header-left {
    width: 100%;
    background-color: #0090da; }
    .wraper-left .header-left .location-order {
      padding-top: 4px; }
    .wraper-left .header-left .mymr {
      margin-left: calc(100vh - 180px) !important; }
  .wraper-left .content-left {
    width: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 5px;
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 150px); }
    .wraper-left .content-left .image-order {
      margin-top: 10px; }
    .wraper-left .content-left .table > tbody > tr > td {
      vertical-align: middle; }
    .wraper-left .content-left .note-order {
      font-style: italic;
      opacity: 0.5;
      margin-top: 5px;
      font-size: 13px; }
    .wraper-left .content-left .total-order {
      float: left; }
  .wraper-left .footer-left {
    bottom: 10px;
    background-color: white;
    border-top: 1px solid #0090da;
    height: 100px;
    margin-left: 15px;
    padding-top: 5px; }
    .wraper-left .footer-left .dropdown-menu .line {
      border: solid 0.5px grey;
      opacity: 0.5;
      width: 100%; }
    .wraper-left .footer-left .send-order {
      width: 100%; }
    .wraper-left .footer-left .send-order button {
      width: 100%;
      margin: 0px 5px 0px 0px; }

/*# sourceMappingURL=style_chef.css.map */
