@media screen and (max-width: 1000px) {
  .food-image a {
    position: absolute;
    bottom: 20px;
    right: 4px;
    display: block;
    font-size: 0.7em;
    padding-top: 7px !important; }

  .food-item {
    padding-right: 8px;
    padding-left: 8px; }

  .wrap-header-mobile {
    height: 45px; }

  #food-detail {
    margin-top: 50px; }

  .total-money {
    font-size: 15px !important; }

  .text-search, .text-filter {
    display: none !important; }

  .js-show-filter, .js-show-search {
    text-align: center;
    width: 40px;
    height: 30px; }

  .content {
    margin-top: 0px !important; }

  .menu-type button i {
    color: red; }
  .menu-type .panel-filter {
    top: 30px !important; }

  .catogery {
    display: block !important; }

  .menu-group-desktop {
    display: none; }

  .search-food input {
    text-align: center;
    padding-right: 5px; }

  .search-food input:focus {
    text-align: left;
    text-indent: 15px; }

  .search-food {
    position: relative; }
    .search-food .clear-textbox {
      color: #ADAAAA !important;
      cursor: pointer;
      display: block;
      position: absolute;
      right: -7px;
      width: 30px;
      top: 3px;
      z-index: 100;
      font-size: 20px; }

  .fixed-catogery {
    background: #E11D1D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
    .fixed-catogery i {
      color: white !important; }
    .fixed-catogery .search-food {
      margin-left: 0px; }

  .panel-search {
    display: none !important; } }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo-mobile a {
    color: #E11D1D;
    font-family: 'Lobster',cursive;
    font-size: 6vw;
    padding: 0px;
    font-weight: normal;
    text-align: center;
    text-shadow: -2px 2px 0px #EF1B1B, -3px 3px 0px #E64545, -4px 4px 0px #B31919; }

  .wrap-pic-w img {
    height: 200px;
    min-height: 200px;
    min-width: 100%; }

  #food-detail {
    width: 100%; }

  .header-cart {
    padding: 10px; }

  .total-item-money {
    display: none !important; }

  .header-cart-item-name {
    white-space: normal !important; }

  .header-cart-title {
    height: 40px !important; }

  .left {
    width: 60% !important; }
    .left textarea {
      height: 50px; }

  .right {
    width: 40% !important; }

  .filter .js-show-filter {
    width: 37px !important; }

  .js-show-search {
    display: none; }

  .search-food {
    margin-left: 20px; }

  .filter-search {
    margin-top: 5px;
    justify-content: center; }

  .select-table {
    display: inline;
    padding-left: 5px; }
    .select-table select {
      width: 65% !important; }

  .left {
    border-right: none !important; }

  .cart .header-cart-wrapitem {
    height: 75% !important; }

  .right {
    padding-top: 10px; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo-mobile a {
    color: #E11D1D;
    font-family: 'Lobster',cursive;
    font-size: 2em;
    padding: 0px;
    font-weight: normal;
    text-align: center;
    text-shadow: -2px 2px 0px #EF1B1B, -3px 3px 0px #E64545, -4px 4px 0px #B31919; }

  .wrap-pic-w img {
    height: 300px;
    min-height: 300px;
    min-width: 100%; }

  .delete-food-cart-mobile {
    display: none !important; }

  .js-show-search {
    display: none; }

  .filter-search {
    margin-top: 5px;
    justify-content: center; }

  .select-table {
    display: inline;
    padding-left: 5px; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-mobile {
    height: 50px !important; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-mobile a {
    color: #E11D1D;
    font-family: 'Lobster',cursive;
    font-size: 2.5em;
    padding: 0px;
    font-weight: normal;
    text-align: center;
    text-shadow: -2px 2px 0px #EF1B1B, -3px 3px 0px #E64545, -4px 4px 0px #B31919; }

  #food-detail {
    margin-top: 90px; }

  .search-food {
    display: none !important; }

  .js-show-search {
    margin-left: 5px;
    display: block !important; }

  .menu-type .filter {
    justify-content: center; }

  .select-table {
    display: block !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #food-detail {
    margin-top: 100px; } }
.logo {
  color: #E11D1D;
  font-family: 'Lobster',cursive;
  font-size: 40px;
  padding: 10px 10px;
  font-weight: normal;
  text-align: center;
  text-shadow: -2px 2px 0px #EF1B1B, -3px 3px 0px #E64545, -4px 4px 0px #B31919; }

.logo-mobile {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  height: 100%; }

.logo:hover, .logo-mobile:hover {
  color: #EC8888; }

.wrap-menu-desktop, .wrap-header-mobile {
  top: -8px !important;
  background: #e6e6e6; }

.fix-menu-desktop .wrap-menu-desktop {
  top: 0px !important; }

.food-image img {
  min-height: 170px;
  height: 170px;
  width: 100%;
  cursor: pointer; }
.food-image a {
  padding-top: 1%;
  text-align: center;
  width: 90%;
  height: 30px; }
.food-image a:hover {
  border-color: #222;
  background-color: #ddd;
  color: black;
  font-weight: bold; }
.food-image i.cart-desktop {
  padding-right: 5px; }

.block2 {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19); }

.food-content div {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center; }
.food-content a {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.food-item {
  padding-top: 12px; }

.menu-group a.dropdown-item:hover {
  background-color: #D1D1D1; }

.more .dropdown-toggle {
  cursor: pointer; }

.cart .header-cart {
  max-width: 100%; }
.cart .wrap-num-product {
  height: 35px;
  width: auto;
  border: none; }
  .cart .wrap-num-product .btn-num-product-down, .cart .wrap-num-product .btn-num-product-up, .cart .wrap-num-product input.num-product {
    width: 30px;
    height: 80%; }
  .cart .wrap-num-product div, .cart .wrap-num-product input {
    display: inline; }
.cart .header-cart-item img {
  height: 80px; }
.cart .header-cart {
  height: 100%; }
.cart .header-cart-content {
  flex-grow: 0;
  height: 100%; }
.cart .header-cart-wrapitem {
  height: 85%;
  overflow-y: scroll;
  flex-grow: 0; }
.cart .header-cart-item-info {
  display: inline;
  padding-top: 6px;
  padding-left: 10px; }
.cart .total-item-money {
  display: inline;
  float: right;
  padding-top: 6px; }
.cart .header-cart-item-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.cart .header-cart-item-name:hover {
  cursor: pointer; }
.cart .cart-total {
  border-top: 3px solid #ccc; }
  .cart .cart-total [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px; }
  .cart .cart-total .header-cart-buttons a {
    margin-left: auto;
    margin-right: auto; }
  .cart .cart-total .header-cart-total {
    text-align: right; }

.delete-food-cart {
  float: right; }

body.show-header-cart {
  overflow: hidden; }

.description-food {
  font-weight: 600;
  color: green;
  cursor: pointer; }

.progress {
  border-radius: 20px; }

.header-cart-title {
  height: 60px;
  width: 100%;
  border-bottom: 3px solid #ccc; }

.total-money {
  font-size: 20px;
  font-weight: bold;
  text-align: right; }

.note {
  color: green; }

.left {
  border-right: 3px solid #ccc; }

.content {
  margin-top: 75px; }

.menu-type {
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #CFCECE; }
  .menu-type .catogerty {
    height: 30px; }
  .menu-type .wrap-filter {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px; }
    .menu-type .wrap-filter label {
      display: inline; }
    .menu-type .wrap-filter .filter-search {
      display: flex;
      align-items: flex-end; }
    .menu-type .wrap-filter .form-control {
      padding: 4px;
      height: 30px !important; }

.catogery {
  position: relative;
  display: none;
  width: 20px; }

#dl-menu {
  z-index: 1; }
  #dl-menu button i {
    font-size: 25px;
    margin-top: 2px;
    padding-left: 5px; }

.dl-menuwrapper .dl-menu {
  width: 200px; }

.dl-menu {
  margin-top: 4px;
  left: -5px; }

.menu-type .filter {
  justify-content: flex-end; }
.menu-type input.form-control {
  border-radius: 20px;
  padding: 3px 2rem 3px 3px; }

.menu-type {
  z-index: 1; }
  .menu-type .panel-filter {
    position: absolute;
    z-index: 1;
    width: 100%;
    right: 0px;
    top: 40px; }

.load-more .infinite-scroll-request {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .load-more .infinite-scroll-request img {
    width: 100px;
    height: 100px;
    max-height: 100px; }

.select-table label {
  width: 30%;
  display: inline; }
.select-table select {
  text-align-last: center;
  display: inline;
  width: 70%; }

/*# sourceMappingURL=customer.css.map */
